/.phpunit.cache
/node_modules
/public/catalog
/public/hot
/public/storage
/public/themes
/public/upload
/public/mix-manifest.json
/storage/*.key
/storage/installed
/package-lock.json
/vendor
/.fleet
/.idea
/.vscode
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
webpack.mix.js
