@import './_variables';

@import './global';

@import './header';
@import './footer';
@import './home';
@import './font';
@import './news';
@import './module-swiper';
@import './product-item';
@import './module-product-tab';
@import './module-news';
@import './login';
@import './breadcrumb';
@import './page-account';
@import './page-categories';
@import './page-product';
@import './page-cart';
@import './page-checkout';
@import './page-order';
@import './page-addresses';
@import './page-brands';
@import './page-checkout-success';