.footer-box {
  background-color: #1e2a68;
  margin-top: 7rem;
  color: #fff;
  // background: linear-gradient(180deg, #44304f 0%, #200b2c 100%);
  @media (max-width: 768px) {
    margin-top: 3rem;
  }

  .top-bg {
    img {
      max-height: initial;
      width: 100%;
      height: 60px;

      @media (max-width: 768px) {
        height: 30px;
      }
    }
  }

  a {
    color: #37447E;
    text-decoration: none;
    color: #eee;
  }

  .top-title {
    text-align: center;
    padding: 20px 0;
    color: #eee;

    @media (max-width: 768px) {
      padding: 10px 0;
    }

    @media (min-width: 768px) {
      font-size: 18px;
    }
  }

  .left-links {
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
    }

    a {
      margin-right: 20px;
      font-size: 14px;

      @media (max-width: 768px) {
        margin: 0 10px;
      }
    }
  }

  .copyright-text {
    text-align: right;

    @media (max-width: 768px) {
      text-align: center;
      margin-top: 10px;
    }
  }

  .bottom-box {
    border-top: 1px solid #354b7e;
    padding: 20px 0;

    @media (max-width: 768px) {
      padding: 10px 0;
    }
  }
}