body.page-my-plugins {
  .plugin-item {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 16px;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
    }

    .image-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 14px;

      .image {
        width: 60px;
        height: 60px;
        flex: 0 0 60px;
        background-color: #eee;
        border-radius: 20%;
        margin-right: 10px;
        overflow: hidden;

        img {
          width: 100%;
          max-height: 100%;
        }
      }

      .title {
        font-size: 16px;
        font-weight: bold;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }


    .plugin-info {
      .description {
        color: #555;
        height: 41px;
        margin-bottom: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .form-switch {
        .form-check-input {
          height: 1.4rem;
          width: 2.8rem;
          margin-top: 0;
        }
      }
    }
  }
}