@font-face {font-family: 'Jost';
  src: url('/vendor/font/jost/Jost-Regular.ttf') format("truetype");
  font-style: normal;
  font-weight: 500;
  font-weight: normal;
  font-display: swap;
}

@font-face {font-family: 'Jost';
  src: url('/vendor/font/jost/Jost-Medium.ttf') format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

// @font-face {font-family: 'Jost';
//   src: url('/vendor/font/jost/Jost-SemiBold.ttf') format("truetype");
//   font-style: normal;
//   font-display: swap;
//   font-weight: 900;
// }